* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

fieldset {
  width: 90%;
  margin: 10px auto 0;
  border: 2px solid #000;
  border-radius: 10px;
}

legend {
  background: #000;
  border-radius: 10px;
  padding: 6px 10px;
  color: #fff;
}

form {
  width: 100%;
  display: grid;
  grid-gap: 4px;
}

input, button {
  width: 100%;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 6px;
}

.FormScore {
  width: 100%;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 2fr 1fr;
}
